<% if @records.empty? %>
        <span>There were no results for your query</span><br/><br/>
<% else %>
<h2>Did you mean? </h2>
<table>
<tr>
  <th>Pkg.Name</th>
  <th>URL</th>
  <th>Branch</th>
  <th></th>
</tr>
<% for record in @records %>
<tr>
  <td><%= record.pkgName %></td>
  <td><%= record.info %></td>
  <td><%= record.branch %></td>
  <td><%= link_to "Show", record %><td>
</tr>
<% end %>
</table>
<% end %>